// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table th {
      background-color: #fbc25b;
      padding: 10px 20px;
    }

    table td {
      background-color: #f9ecd5;
      padding: 10px 20px;
    }

    .notice {
      background-color: #ccf;
      padding: 5px;
    }